# Do not check in personal env variables
env.sh

# Ignore downloaded App Server Agent
AppServerAgent.zip

# Ignore backups of run.sh/env.sh
*.sh.*

# ECommerce-Load build files
ECommerce-Load/.gradle/
ECommerce-Load/.idea/

# Ignore jdk rpms
jdk-*.rpm
